<!DOCTYPE html>
<html>
  <head>
    <title>NewTweet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class ="header">
      <div class="header"__bar row">
        <h1 class="grid-6"><a href="/">NewTweet</h1>
        <div class="user_nav grid-6">
          <a class="post" href="/tweets/new">ぼやく</a>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer >
      <p>Copyright Peeta.inc 2020</p>
    </footer>
  </body>
</html>
